@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-section {
    transition: background-image 1s ease-in-out;
    background-size: cover;
    background-position: center;
}

.swiper-slide img {
    width: 450px;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
}

/* Menempatkan pagination di tengah */
.swiper-pagination {
    display: flex;
    justify-content: center; /* Memastikan pagination berada di tengah */
    gap: 20px; /* Memberikan jarak antar bullet */
}

/* Ubah warna dasar bullet ke abu-abu */
.swiper-pagination-bullet {
    background-color: #b0b0b0;
    opacity: 0.7;
}

/* Warna bullet saat aktif menjadi putih */
.swiper-pagination-bullet-active {
    background-color: #ffffff;
    opacity: 1;
}

/* .swiper-button-next,
.swiper-button-prev {
    color: white;
} */

/* resources/css/app.css */
.anton-sc-regular {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* resources/css/app.css */
.inter-light {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.inter-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.active-link {
    color: #38b2ac; /* Teal */
    text-decoration: underline;
    text-decoration-color: #38b2ac;
}

.gradient-section {
    background: linear-gradient(135deg, #000000, #330033, #660099);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    padding: 50px; /* Sesuaikan padding sesuai kebutuhan */
}

/* CSS tambahan */
.glow-text {
    color: #ffffff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
        0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
}

#ss {
    background-image: url('/lines/background.svg');
    background-size: cover;       /* Sesuaikan agar gambar memenuhi area */
    background-repeat: no-repeat; /* Menghindari pengulangan */
    background-position: center;  /* Menempatkan gambar di tengah */
}
